body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f1f1f1;
  font-size: 14px;
}

#app{
  width: 70vw;
  margin: 0 auto;
  padding: 0;
}

#app .input {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  font-size: 30px;
  border-radius: 5px;
}

#app .letter-container{
  display: flex;
  margin: 10px auto;
  padding: .2em;
  flex-wrap: wrap;

  background-color: white;
  border:2px solid gray;
}

#app .letter-container .letter{
  padding: 5px;
  text-align: center;
  font-size: 1.3em;
  color: #000;
}

#app .letter-container .letter p{
  margin: 5px;
}